
body{
    align-items: center;
    justify-content: center;
    background: url(5931522.jpg);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}
.container{
    align-items: center;
    justify-content: center;
    display:flex;
    height: 550px;
}
    
.lvls{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    justify-content: center;
}
.hop_lvls{
    width: 50px;
    height: 20px;
    background-color: rgb(82, 138, 165);
    border-radius: 7px;
    padding: 20px;
    border:2px solid rgb(49, 48, 48);
    margin: 12px;
    align-items: center;
}
a{
    text-decoration: none;
    color: beige;
    font-size: 16px;
}
.instr{
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: relative;
    height: 40px;
    width: 700px;
    left: 350px;
    top: 100px;
    align-items: center;
    justify-content: center;
}