
body{
    display: block;
    display: flex;
}
    .container{
      position: relative;
      top: 120px;
      display: flex;
      flex-direction: row;
    }
    #buttonContainer {
        display: flex;
        gap: 10px;
        padding: 10px;
        background-color: #6a6565;
        flex-wrap: wrap;
        min-height: 100px;
        min-width: 250px;
        height: fit-content;
        max-height: 700px;
        max-width: 250px;
        justify-content: space-around;
      
      }
      .name-place{
        border: 2.5px ;
        min-height: 250px;
        min-width: 100px;
        height: fit-content;
        width: fit-content;
        padding: 0px;
        position: relative;
        left: 80px;
        top: 28px;
      }
      .no{
        width: 110px;
        height: 40px;
        user-select: none
      }
      .last{
        width: 125px;
        height: 40px;
        user-select: none
      }
      
      #destinationContainer {
        border: 2.5px solid #4d4646;
        min-height: 280px;
        min-width: 200px;
        height: fit-content;
        width: fit-content;
        padding: 10px;
    
        position: relative;
        left: 85px;
      }
      
      button {
        width: 100px;
        height: 40px;
        background-color: #c3b8bf;
        border: none;
        border-radius: 4px;
        cursor: move;
        user-select: none;
      }
      
      button:active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      #checkButton{
        position: relative;
        top: 320px;
        right: 300px;
        margin-right: 10px;
      }
      #resetButton{
        position: relative;
        top: 320px;
        right: 300px;
        margin-right: 10px;
      }
      #runButton{
        position: relative;
        top: 320px;
        right: 300px;
        
      }
     
      .game-container{
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: fit-content;
      }
    
      canvas {
        border: 1px solid black;
        align-items: center;
        position: relative;
        width: fit-content;
        height: fit-content;
        display: none;
      }
      .contain{
      position: relative;
      top: 30px;
    
      }
      .stone {
        width: 20px;
        height: 20px;
        background-color: gray;
        position: relative;
        top: -340px;
        left: 190px;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
        z-index: 10;
      }
      .droppable-elements{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    
        }
        img {
          width: 400px;
          height: 500px;
          
        display: block;
        position: relative;
        z-index: 1000;
          }
        
        .droppable {
          height: 5.5rem;
          width: 5.5rem;
          margin: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 4rem;
          font-weight: bold;
          background-color: #fff;
          border: 3px solid #111;
          border-radius: 7px;
          transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
          transform: rotate(90deg);
        }
        .droppable span {
            font-size: 1.25rem;
            pointer-events: none; /* The element is never the target of pointer events */
          }
          .one{
            position: relative;
           
          }
          .two{
            position: relative;
            left: -32px;
          }
          .three{
            position: relative;
            left: -65px;
          }
          .four{
            position: relative;
            left: -97px;
        bottom: 43px;
          }
          
          .five{
            position: relative;
            left:-222px;
            bottom: -50px;
          }
          .six{
            position: relative;
            left: -255px;
          }
          .seven{
            position: relative;
            bottom: 43px;
            left:-288px
          }
          .eight{
            position: relative;
            bottom: -50px;
            left: -414px;
          }
          #headingContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            z-index: 999;
            font-size: 24px;
            font-weight: bold;

          }
          
          #headingText {
            font-size: 24px;
            font-weight: bold;
            animation: fade-in-out 2s ease-in-out infinite;
          }
          
          @keyframes fade-in-out {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          
    .nxtlvl{
      align-items: center;
      display: block;
      height: 100px;
      width: 100px;
    }
    
    @media screen {
      
    }
    .cjump{
      transform: translateY(-50px);
      transition-duration: 1s;
    }
    .character {
        position: relative;
        top: 555px;
        left: 155px;
        size: 10px;
        z-index: 1000000000
      }
      .icon{
        height: 60px;
        width: 60px;
        z-index: 1000000000
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .overlay-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
      }
      
      .overlay-content button {
        margin: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .overlay-content button:hover {
        background-color: #0056b3;
      }
      
          
          